# Игнорировать файлы и папки IDEA
.idea/
*.iml

# Игнорировать временные файлы
*.class
*.log
*.tmp

# Игнорировать папки сборки (если есть)
out/
build/

# Игнорировать файлы настроек системы
.DS_Store
Thumbs.db

# Игнорировать файлы конфигурации
application.properties
application.yml


